@import "./colors.scss";
.container {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    background-color: $grey-lightest;

    .image {
      max-width: 100vw;
      height: auto;
      max-height: 280px;
      max-width: 600px;
      padding: 1rem;

      @media screen and (max-width: 769px) {
        max-width: 80%;
      }
    }
  }

  .whatsappContact {
    background-color: $dark-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 1.5rem;

    p {
      max-width: 100%;
      font-size: 46px;
      color: $grey-lightest;
      margin-top: 5rem;
      line-height: 3rem;
      text-align: center;

      &:nth-last-child(2) {
        margin-top: 2.2rem;
        font-size: 32px;
        color: $grey-lightest;
        line-height: 3rem;
        max-width: 1480px;
        text-align: center;
      }
    }

    a {
      button {
        color: #fff;
        background-color: $orange;
        height: 40px;
        width: 255px;
        margin-bottom: 5rem;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        cursor: pointer;

        .icon {
          margin-left: 1rem;
        }
      }
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin-top: 3rem;
    @media screen and (min-width: 769px) {
      max-width: 70rem;
      align-self: center;
    }

    img {
      margin-bottom: 3.3rem;
      width: 100%;
      height: 280px;
      object-fit: cover;
    }

    .title {
      display: flex;
      flex-direction: column;
      width: 100%;
      h1 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        color: $dark-color;
        text-align: center;
      }
      .grayLine {
        border-bottom: 1px solid $grey-dark;
        height: 1px;
        margin-top: 1rem;
        margin-bottom: 2.2rem;
      }
    }
    p {
      text-align: justify;
      margin-bottom: 5rem;
      color: $dark-color;
      font-weight: 600;
    }
  }

  .FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-color;

    h1 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      color: $grey-lightest;
      line-height: 2rem;
    }
    .grayLine {
      border-bottom: 1px solid $grey-light;
      height: 1px;
      margin-top: 1rem;
      margin-bottom: 2.2rem;
    }
    .accordion {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 1.5rem;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      width: 80%;

      .question {
        display: flex;
        p,
        .arrowIcon {
          color: $grey-dark;
        }
        p {
          width: 90%;
        }
      }

      .answer {
        margin-top: 1rem;
        color: $dark-color;
        font-weight: 600;
      }

      &:last-child {
        margin-bottom: 5rem;
      }
      // @media screen and (min-width: 540px) {
      //   max-width: 50%;
      // }
      @media screen and (min-width: 716px) {
        max-width: 35rem;
      }
    }
  }

  .help {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    width: 100%;

    p {
      color: $dark-color;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      font-weight: 600;
    }

    a {
      button {
        color: #fff;
        background-color: $orange;
        margin-bottom: 3rem;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 0.4rem;
        cursor: pointer;

        .icon {
          margin-left: 1rem;
        }
      }
    }
  }

  .whatMakesUsDifferent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: $dark-color;

    h1 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      color: $grey-lightest;
      line-height: 2rem;
    }
    .grayLine {
      border-bottom: 1px solid $grey-light;
      height: 1px;
      margin-top: 1rem;
      margin-bottom: 2.2rem;
      width: 100%;
    }
    .differentHeader {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      margin-top: 2rem;
      max-width: 500px;

      svg {
        color: #fff;
      }
      p {
        text-align: center;
        width: 10rem;
        color: #fff;
      }

      &:last-child {
        margin-bottom: 5rem;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: $grey-lightest;

    h1 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      color: $dark-color;
      margin-top: 2.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      width: 100%;
      max-width: 500px;

      input {
        width: 100%;
        padding: 1rem;
        background-color: #fff;
        border: 1px solid $grey-light;
        color: $grey-dark;
        margin-top: 1.5rem;
      }

      small {
        color: $error-color;
        font-weight: 600;
        margin-left: 4px;
      }
      textarea {
        margin-top: 1.5rem;
        max-width: 100%;
        min-width: 100%;
        min-height: 10rem;
        max-height: 10rem;
        background-color: #fff;
        border: 1px solid $grey-light;
        color: $grey-dark;
        outline: none;
        padding: 0.4rem;
        resize: none;
        padding-left: 1rem;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      button {
        color: #fff;
        background-color: $orange;
        height: 40px;
        width: 90%;
        margin-bottom: 3rem;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        cursor: pointer;
      }
    }
  }

  .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    background-color: $dark-color;

    figure {
      margin-top: 2.5rem;
      @media screen and (min-width: 540px) {
        max-width: 25rem;
      }
    }

    h1 {
      color: $grey-lightest;
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
    .header {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
    }
    .infoGroup {
      display: flex;
      flex-direction: column;

      .info {
        display: flex;
        width: 100%;
        margin-top: 1.2rem;
        align-items: center;

        p,
        svg {
          color: #fff;
        }
        p {
          margin-left: 1rem;
        }
      }
    }
  }
}
